In [1]:
# I have downloaded articles between 20150616 and 20150716 from LexisNexis into a txt format. Now, I need to 
# parse these files to only get the full text of the articles.

# I read in the files

dir = 'C:/Users/bergliotc/Dropbox/Berkeley/PS239T/17_project'
file_name = "The_New_York_Times2016-11-28_23-12.TXT"
# I read in the June file using a place_holder object
with open(dir + '/'+ file_name,'r', encoding = "ISO-8859-1") as placeholder_name: 
    text = placeholder_name.read()

# I similarly read in the November files (two files due to download limit from LexisNexis)
file_name_nov1 = "November_articles_first_batch.TXT"
with open(dir + '/'+ file_name_nov1,'r', encoding = 'utf-8') as placeholder_name: 
    text_nov1 = placeholder_name.read()
    
file_name_nov2 = "November_articles_second_batch.TXT"
with open(dir + '/'+ file_name_nov2,'r', encoding = 'utf-8') as placeholder_name: 
    text_nov2 = placeholder_name.read()

In [2]:
# I split the June string into different articles at every occurence of "104 DOCUMENTS" and check for errors:
articles_jun = text.split("104 DOCUMENTS")

# I split the November string into different articles at every occurence of "499 DOCUMENTS" or "424 DOCUMENTS"
articles_nov1 = text_nov1.split("499 DOCUMENTS")
articles_nov2 = text_nov2.split("424 DOCUMENTS")

In [229]:
# Check point:
#print(articles_nov1[40])

In [14]:
# I extract the full text of the articles using a for loop that loops through the list of articles and extracts everything
# between "words\n\n\n" and "load-date", this portion roughly corresponds to the full article.
full_articles_jun = []
for i in range(len(full_articles_jun)):
    full_articles_jun.append(full_articles_jun[i].split('words\n\n\n')[-1].split('LOAD-DATE:')[0])
    
full_articles_nov1 = []   
for i in range(len(articles_nov1)):
    full_articles_nov1.append(articles_nov1[i].split('words\n\n\n')[-1].split('LOAD-DATE:')[0])

full_articles_nov2 = []
for i in range(len(articles_nov2)):
    full_articles_nov2.append(articles_nov2[i].split('words\n\n\n')[-1].split('LOAD-DATE:')[0])
    
type(full_articles_nov1[39])
#len(full_articles_nov1)
#print(full_articles_nov1)

str

In [10]:
# I now want to extract the date for each article. The date is between the number of doduments, i.e. for June "104 DOCUMENTS"
# and "BYLINE". So I extract the date of the articles using a for loop that loops through the list of articles and extracts 
# between here.
full_articles_jun_date = []
for i in range(len(articles_jun)):
    full_articles_jun_date.append(articles_jun[i].split('\n\n\nThe New York Times')[-1].split(', 2015')[0])
    
full_articles_nov1_date = []   
for i in range(len(articles_nov1)):
    full_articles_nov1_date.append(articles_nov1[i].split('\n\n\nThe New York Times')[-1].split(', 2016')[0])

full_articles_nov2_date = []
for i in range(len(articles_nov2)):
    full_articles_nov2_date.append(articles_nov2[i].split('\n\n\nThe New York Times')[-1].split(', 2016')[0])

#print(full_articles_jun_date)
#len(full_articles_jun_date)

In [16]:
jun_date = []
for i in range(len(full_articles_jun_date)):
    jun_date.append(full_articles_jun_date[i][-9:])

nov_date1 = []
for i in range(len(full_articles_nov1_date)):
    nov_date1.append(full_articles_nov1_date[i][-10:])

nov_date2 = []
for i in range(len(full_articles_nov2_date)):
    nov_date2.append(full_articles_nov2_date[i][-10:])
    
print(nov_date2)

['     1 of ', 'October 26', 'October 27', 'October 25', 'November 6', 'October 21', 'November 5', 'October 22', 'October 27', 'October 27', 'November 1', 'November 2', 'November 2', 'November 3', 'October 21', 'October 22', 'October 23', 'October 24', 'October 25', 'October 26', 'October 26', 'October 27', 'October 28', 'October 29', 'October 30', 'October 30', 'October 30', 'November 2', 'November 3', 'November 5', 'November 6', 'November 6', 'October 21', 'October 23', 'October 24', 'October 24', 'October 24', 'October 24', 'October 24', 'October 25', 'October 25', 'October 26', 'October 28', 'October 28', 'October 29', 'October 30', 'October 30', 'October 31', 'November 3', 'November 3', 'November 3', 'November 4', 'November 5', 'November 5', 'November 5', 'November 5', 'November 6', 'November 6', 'November 6', 'November 7', 'November 7', 'November 7', 'November 7', 'October 21', 'October 22', 'October 24', 'October 24', 'October 25', 'October 25', 'October 26', 'October 27', 'October 28', 'October 28', 'October 29', 'October 29', 'October 30', 'October 30', 'October 30', 'November 1', 'November 1', 'November 3', 'November 4', 'November 4', 'November 4', 'November 4', 'November 5', 'November 6', 'November 7', 'November 7', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 22', 'October 22', 'October 22', 'October 22', 'October 22', 'October 22', 'October 22', 'October 22', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 24', 'October 24', 'October 25', 'October 26', 'October 26', 'October 26', 'October 26', 'October 26', 'October 26', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 28', 'October 28', 'October 28', 'October 28', 'October 28', 'October 28', 'October 28', 'October 29', 'October 29', 'October 29', 'October 29', 'October 30', 'October 30', 'October 30', 'October 30', 'October 30', 'October 30', 'October 30', 'October 31', 'October 31', 'October 31', 'October 31', 'November 1', 'November 1', 'November 1', 'November 1', 'November 1', 'November 1', 'November 1', 'November 2', 'November 2', 'November 2', 'November 2', 'November 2', 'November 3', 'November 3', 'November 3', 'November 3', 'November 3', 'November 4', 'November 4', 'November 4', 'November 4', 'November 4', 'November 5', 'November 5', 'November 5', 'November 5', 'November 5', 'November 5', 'November 5', 'November 5', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 7', 'November 7', 'November 7', 'November 7', 'November 7', 'October 27', 'November 1', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 21', 'October 22', 'October 22', 'October 22', 'October 22', 'October 22', 'October 22', 'October 22', 'October 22', 'October 22', 'October 22', 'October 22', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 23', 'October 24', 'October 24', 'October 24', 'October 24', 'October 24', 'October 24', 'October 24', 'October 24', 'October 25', 'October 25', 'October 25', 'October 25', 'October 25', 'October 25', 'October 25', 'October 25', 'October 25', 'October 26', 'October 26', 'October 26', 'October 26', 'October 26', 'October 26', 'October 26', 'October 26', 'October 26', 'October 26', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 27', 'October 28', 'October 28', 'October 28', 'October 28', 'October 28', 'October 28', 'October 28', 'October 28', 'October 28', 'October 28', 'October 29', 'October 29', 'October 29', 'October 29', 'October 29', 'October 29', 'October 30', 'October 30', 'October 30', 'October 30', 'October 30', 'October 30', 'October 30', 'October 30', 'October 30', 'October 30', 'October 30', 'October 31', 'October 31', 'October 31', 'October 31', 'October 31', 'October 31', 'October 31', 'October 31', 'October 31', 'October 31', 'October 31', 'November 1', 'November 1', 'November 1', 'November 1', 'November 1', 'November 1', 'November 1', 'November 1', 'November 1', 'November 1', 'November 1', 'November 1', 'November 1', 'November 2', 'November 2', 'November 2', 'November 2', 'November 2', 'November 2', 'November 2', 'November 2', 'November 2', 'November 2', 'November 2', 'November 3', 'November 3', 'November 3', 'November 3', 'November 3', 'November 3', 'November 3', 'November 3', 'November 3', 'November 3', 'November 4', 'November 4', 'November 4', 'November 4', 'November 4', 'November 4', 'November 4', 'November 4', 'November 4', 'November 4', 'November 5', 'November 5', 'November 5', 'November 5', 'November 5', 'November 5', 'November 5', 'November 5', 'November 5', 'November 5', 'November 5', 'November 5', 'November 5', 'November 5', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 6', 'November 7', 'November 7', 'November 7', 'November 7', 'November 7', 'November 7', 'November 7', 'November 7', 'November 7', 'November 7', 'November 7', 'November 7', 'November 7', 'November 7']

In [17]:
# I now write to a csv file:
import csv
#with open('June_articles2.csv', 'w') as csvfile:
 #   writer = csv.writer(csvfile, delimiter="\n")
  #  writer.writerow(full_articles)

#with open('November_articles1.csv', 'w', encoding='utf-8') as csvfile:
 #   writer = csv.writer(csvfile, delimiter='\n')
  #  writer.writerow(full_articles_nov1)

#with open('November_articles2.csv', 'w', encoding='utf-8') as csvfile:
 #   writer = csv.writer(csvfile, delimiter="\n")
  #  writer.writerow(full_articles_nov2)

#with open('June_date2.csv', 'w', encoding='utf-8') as csvfile:
 #   writer = csv.writer(csvfile, delimiter='\n')
  #  writer.writerow(jun_date)
        
with open('November_date1.csv', 'w', encoding='utf-8') as csvfile:
    writer = csv.writer(csvfile, delimiter='\n')
    writer.writerow(nov_date1)
        
with open('November_date2.csv', 'w', encoding='utf-8') as csvfile:
    writer = csv.writer(csvfile, delimiter='\n')
    writer.writerow(nov_date2)